
.product__product {
    width: 400px;
}

.product__name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}

.product__pvp {
    font-size: 16pt;
    color: red;
}