*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#barraBuscar{
    height: 25px;
    width: 200px;
}
#btnBuscar{
    height: 25px;
    width: 100px;
}


#cajaGifs{
display: grid;
grid-template-columns: repeat(5,1fr);
}

#cajaGifs div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 18vw;
    margin-top: 3vw;
}

img{
    width: 15vw;
}

a{
    margin-top: 1vw;
}
